import { Test, TestingModule } from '@nestjs/testing';
import { INestApplication } from '@nestjs/common';
import request from 'supertest';
import { App } from 'supertest/types';
import { AppModule } from './../src/app.module';

describe('{{ endpoint_name }} (e2e)', () => {
  let app: INestApplication<App>;

  beforeAll(async () => {
    const moduleFixture: TestingModule = await Test.createTestingModule({
      imports: [AppModule],
    }).compile();

    app = moduleFixture.createNestApplication();
    await app.init();
  });

  afterAll(async () => {
    await app.close();
  });

  describe('{{ method }} {{ route }}', () => {
    it('should return success (nominal case)', () => {
      return request(app.getHttpServer())
        .{{ method_lower }}('{{ route }}')
        .expect({{ expected_status }})
        .expect((res) => {
          {{ validation_code }}
        });
    });

    {{ error_cases }}
  });
});

